{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
    type="text/css">
    <link rel="stylesheet" href=" {% static 'kv/apartment_info.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>

<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>1 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-1-435" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>43.5  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>5.10</h3></div>
                    <div><h3>Кухня</h3><h3>17.30</h3></div>
                    <div><h3>Гостиная</h3><h3>23.20</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.60</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>


<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>1 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-1-438" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>43.8  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>5.10</h3></div>
                    <div><h3>Кухня</h3><h3>17.30</h3></div>
                    <div><h3>Гостиная</h3><h3>23.20</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.60</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>


<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>1 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-1-465" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>46.5  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>5.10</h3></div>
                    <div><h3>Кухня</h3><h3>17.30</h3></div>
                    <div><h3>Гостиная</h3><h3>23.20</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.60</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>



<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>1 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-1-492" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>49.2  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>5.10</h3></div>
                    <div><h3>Кухня</h3><h3>17.30</h3></div>
                    <div><h3>Гостиная</h3><h3>23.20</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.60</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>


<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>2 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-2-721" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>72.1  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>35</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>11.70</h3></div>
                    <div><h3>Кухня</h3><h3>18.60</h3></div>
                    <div><h3>Гостиная</h3><h3>20.40</h3></div>
                    <div><h3>Спальня</h3><h3>17.30</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.14</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>




<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>2 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-2-724" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>72.4  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>11.70</h3></div>
                    <div><h3>Кухня</h3><h3>18.60</h3></div>
                    <div><h3>Гостиная</h3><h3>20.40</h3></div>
                    <div><h3>Спальня</h3><h3>17.30</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.14</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>




<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>3 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-3-93" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>93.2  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>7.40</h3></div>
                    <div><h3>Кухня</h3><h3>39.70</h3></div>
                    <div><h3>Гостиная</h3><h3>20.70</h3></div>
                    <div><h3>Спальня</h3><h3>20.40</h3></div>
                    <div><h3>Сан. узел</h3><h3>5.00</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>



<section class="apartment-plan">

        <div class="apartment-info-container">

            <div class="apartment-image">
                <div class="apartment-image-top">
                    <img src="{% static 'kv/back.png' %}" alt="">
                    <h3>3 Комнатная Квартира</h3>
                </div>
                <div class="apartment-image-body-3-100" alt="qwe">
                </div>

                <div class="btns">
                        <div class="simple-img">Планировка</div>
                        <div class="d3-img">3D Планировка</div>
                </div>
                <div class="apartment-image-bottom">test</div>
            </div>


            <div class="apartment-info">
                <div class="apartment-info-block">
                    <div><h3>Цена</h3><h3>1 700 000 руб.</h3></div>
                    <div><h3>Площадь</h3><h3>100.1  &#x33A1;</h3></div>
                    <div><h3>этаж</h3><h3>8</h3></div>
                    <div><h3>Номер помещения</h3><h3>31</h3></div>
                </div>

                <div class="apartment-info-block-2">
                    <div><h3>Прихожая</h3><h3>5.10</h3></div>
                    <div><h3>Кухня</h3><h3>17.30</h3></div>
                    <div><h3>Гостиная</h3><h3>23.20</h3></div>
                    <div><h3>Сан. узел</h3><h3>3.60</h3></div>
                </div>

                <div class="contact-block">
                    <div class="contactbtn">Отправить заявку</div>
                    <p>Позвоните нам:<br><span>8 (861) 277 56 63</span></p>

                
                </div>


            </div>


        </div>

</section>



</body>
</html>