{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'kv/css/building.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <a class="btn_back"href="{% url 'main' %}">
        <img class="btn_back"src=" {% static 'kv/backto.png' %} " alt="">
      </a>
    <section>
        
        
      <img src=" {% static 'kv/building.png' %} " alt="">

     

      <a class="bulding_block" href="{% url 'home' %}#16">
        <div class="f16">

            <div class="building_floor_text">
                <p>16 этаж</p> 
            </div>
    
        </div>
      </a>
    
      <a class="bulding_block" href="{% url 'home' %}#15">
    <div class="f15">

        <div class="building_floor_text">
            <p>15 этаж</p> 
        </div>

    </div>
</a>


<a class="bulding_block" href="{% url 'home' %}#14">
    <div class="f14">

        <div class="building_floor_text">
            <p>14 этаж</p> 
        </div>

    </div>
</a>


    <a class="bulding_block" href="{% url 'home' %}#13">
    <div class="f13">

        <div class="building_floor_text">
            <p>13 этаж</p> 
        </div>

    </div>
</a>


    <a class="bulding_block" href="{% url 'home' %}#12">
    <div class="f12">

        <div class="building_floor_text">
            <p>12 этаж</p> 
        </div>

    </div>
        
</a>


    <a class="bulding_block" href="{% url 'home' %}#11">
    <div class="f11">

        <div class="building_floor_text">
            <p>11 этаж</p> 
        </div>

    </div>
</a>


    <a class="bulding_block" href="{% url 'home' %}#10">
    <div class="f10">

        <div class="building_floor_text">
            <p>10 этаж</p> 
        </div>

    </div>
</a>


    <a class="bulding_block" href="{% url 'home' %}#9">
        <div class="f9">

        <div class="building_floor_text">
            <p>9 этаж</p> 
        </div>

    </div>
</a>


    <a class="bulding_block" href="{% url 'home' %}#8">
        <div class="f8">

        <div class="building_floor_text">
            <p>8 этаж</p> 
        </div>

    </div>

</a>

    <a class="bulding_block" href="{% url 'home' %}#7">
    <div class="f7">

        <div class="building_floor_text">
            <p>7 этаж</p> 
        </div>

    </div>
</a>



    <a class="bulding_block" href="{% url 'home' %}#6">
    <div class="f6">

        <div class="building_floor_text">
            <p>6 этаж</p> 
        </div>

    </div>
</a>
    


    <a class="bulding_block" href="{% url 'home' %}#5">
    <div class="f5">

        <div class="building_floor_text">
            <p>5 этаж</p> 
        </div>

    </div>

</a>



    <a class="bulding_block" href="{% url 'home' %}#4">
    <div class="f4">

        <div class="building_floor_text">
            <p>4 этаж</p> 
        </div>

    </div>

</a>


    <a class="bulding_block" href="{% url 'home' %}#3">
    <div class="f3">

        <div class="building_floor_text">
            <p>3 этаж</p> 
        </div>

    </div>
</a>
    


    <a class="bulding_block" href="{% url 'home' %}#2">
    <div class="f2">

        <div class="building_floor_text">
            <p>2 этаж</p> 
        </div>

    </div>
</a>
    


    <a class="bulding_block" href="{% url 'home' %}#1">
    <div class="f1">

        <div class="building_floor_text">
            <p>1 этаж</p> 
        </div>

    </div>

</a>
    </section>


</body>
</html>